.tooltip .white-tooltip {
    -fx-background-color:white;
    -fx-color-label-visible: true;
    -fx-text-fill:black;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}

.group-cell .text
{
    -fx-font-weight: bold;
}

.flat {
    -fx-background-color: transparent, transparent, transparent, transparent;
}

.flat:hover{
    -fx-background-color: transparent, rgba(0,0,0,.1), rgba(0,0,0,.1), transparent;
}

.flat:armed {
    -fx-background-color: transparent, rgba(0,0,0,.1), rgba(0,0,0,.1), rgba(0,0,0,.2);
}

.text-field.error {
    -fx-effect: dropshadow(three-pass-box, darkred, 7, 0, 0, 0);
}

.ribbon-group .button.letter-button
{
    -fx-font-size: 1.5em;
    -fx-min-width: 50;
}

.ribbon-group .split-menu-button, .ribbon-group .toggle-button, .ribbon-group .menu-button
{
    -fx-border-color: transparent;
    -fx-border-width: 0;

    -fx-background-radius: 0;

    -fx-background: white;
    -fx-background-color: transparent, transparent, transparent, transparent;

    -fx-font-family:"Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 1em;
    -fx-text-fill: black;
    -fx-alignment: CENTER;
}

.ribbon-group .button, .ribbon-group .label
{
    -fx-text-fill: black;
    -fx-background-color: transparent, transparent, transparent, transparent;
}

.ribbon-group .split-menu-button .arrow-button, .ribbon-group .split-menu-button .label {
    -fx-background: white;
    -fx-background-color: transparent;
}

.ribbon-group .toggle-button:hover, .ribbon-group .split-menu-button .arrow-button:hover, .ribbon-group .split-menu-button .label:hover {
    -fx-background-color: RIBBON_BUTTON_SELECTED_COLOR;
}

.ribbon-group .title {
    -fx-padding: 0 10px 0 0;
}

.ribbon-group .separator.small .line {
    -fx-padding: 0 6px 0 6px;
}

.ribbon-group .ribbon-group-content
{
    -fx-alignment: TOP_CENTER;
    -fx-padding: 16px 0 16px 0;
}

.ribbon-group .ribbon-group-content > .column
{
    -fx-padding: 0 0 0 0;
}

.ribbon-group .button:hover, .ribbon-group .button:hover:focused:selected, .ribbon-group .button:hover:selected, .ribbon-group .button:hover:focused,
.ribbon-group .split-menu-button:focused:pressed:focused:armed, ribbon-group .toggle-button,
.ribbon-group .toggle-button:hover,
.ribbon-group .toggle-button:focused, .ribbon-group .toggle-button:hover:focused,
.ribbon-group .toggle-button:focused:selected,
.ribbon-group .toggle-button:selected, .ribbon-group .toggle-button:hover:selected,
.ribbon-group .toggle-button:pressed,
.ribbon-group .toggle-button:hover:pressed:focused:armed, .ribbon-group .toggle-button:hover:pressed:focused:armed:selected, .ribbon-group .toggle-button:armed
{
    -fx-border-color: transparent  !important;;
    -fx-border-width: 0  !important;;
    -fx-border-insets: 0 0 0 0, 0  !important;;
    -fx-border-style: hidden !important;
}

.ribbon-group .button.left-align
{
    -fx-alignment: TOP_LEFT;
}

.ribbon-group .button .text, .ribbon-group .arrow-button .text, .ribbon-group .split-menu-button .text,
.ribbon-group .toggle-button .text
{
    -fx-text-alignment: center;
}

.ribbon-group .button:pressed, .ribbon-group .button:default:hover:pressed,
.ribbon-group .toggle-button:pressed, .ribbon-group .toggle-button:default:hover:pressed, .ribbon-group .toggle-button:selected,
.ribbon-group .split-menu-button .arrow-button:pressed, .ribbon-group .split-menu-button .arrow-button:default:hover:pressed
{
    -fx-background-color: #039ED3 !important;
    -fx-text-fill: white;
}

.ribbon-group .button.letter-button .text
{
    -fx-font-weight: bold;
    -fx-text-fill:black;
}



.split-pane.no-divider *.split-pane-divider {
    -fx-padding: 0 1 0 1;
    -fx-background-color: transparent;
}

.text-field-tree-table-cell.toc-level-cell, .check-box-tree-table-cell.toc-choosed-cell {
    -fx-alignment: CENTER;
}
